/* Variables */
:root {
	--main: blue;
	--dark: black;
	--light: white;
	--alert: orange;
	--html: rgb(28, 28, 28);
}

/* General */
* {
	box-sizing: border-box;
}

html {
	font-family: 'Poppins', sans-serif;
	font-size: 1rem; /* 16px */
	line-height: 1.6;
	margin: 0 auto;
	scroll-behavior: smooth;
	background-color: var(--html);
}

body {
	min-width: 320px;
	max-width: 1280px;
	min-height: 100svh;
	margin: 0 auto;
	background-color: var(--light);
}

a {
	display: inline-block;
	text-decoration: none;
	color: inherit;
	cursor: pointer;
	margin-left: 1em;
}

/* Header */
.header-container {
	font-size: clamp(1.2rem, 2vw, 2rem);
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1.3rem;
	color: var(--light);
	background-color: var(--main);
}
.nav-container {
	display: flex;
}

.nav-container span {
	margin-left: 1em;
	color: var(--alert);
}

#dark {
	cursor: pointer;
}

/* Main */
.main-container {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 80vh;
}

.main-container h2 {
	margin: 2rem;
}

.cards-container {
	display: flex;
	justify-content: center;
	align-content: center;
	flex-wrap: wrap;
	gap: 1rem;
}

.card {
	width: 300px;
	height: 450px;
	perspective: 1000px;
	cursor: pointer;
}

/**************** Team Work ****************/
/* chidera */
.sandrine-container {
	background-color: aliceblue;
}

/* daniel */
.daniel-container {
	border: 1px solid var(--dark);
}

.daniel-container img {
	height: 180px;
	width: 100%;
	margin: 0;
}

.daniel-container .text-container p {
	font-size: clamp(1.2em, 2vw, 1.8em);
	margin: 1em auto;
}

.daniel-container .text-container span {
	font-weight: 700;
}

/* tunde */
.tunde-container {
	background-color: rgb(200, 47, 126);
	border-radius: 8px;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
	padding: 20px;
}

.tunde-container .card-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.tunde-container .card-container img {
	width: 150px;
	height: 150px;
	border-radius: 50%;
	margin-bottom: 20px;
}

.tunde-container .card-container .user-info {
	list-style: none;
	padding: 0;
	margin-bottom: 20px;
}

.tunde-container .card-container .user-info li {
	margin-bottom: 10px;
	font-size: 16px;
}

.tunde-container .card-container .user-info strong {
	font-weight: bold;
}

.tunde-container .card-container .user-bio {
	font-size: 14px;
	line-height: 1.5;
	color: #777;
}

/* victor */
.victor-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0;
	border-radius: 8px;
}

.victor-container .card-inner {
	position: relative;
	width: 100%;
	height: 100%;
	padding: 0.5rem 1rem;
	background-color: lightblue;
	border-radius: 8px;
	text-align: center;
	transition: transform 1s;
	transform-style: preserve-3d;
}
.victor-container .front-face {
	backface-visibility: hidden;
}

.victor-container .back-face {
	backface-visibility: hidden;
	position: absolute;
	text-align: center;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	padding: 1em;
	color: var(--light);
	border-radius: 8px;
	background-color: var(--main);
	transform: rotateY(180deg);
}

.victor-container:hover .card-inner {
	transform: rotateY(-180deg);
}

.victor-container:hover .card-inner .back-face {
	transform: rotateY(180deg);
}

.victor-container img {
	position: absolute;
	top: 1rem;
	left: 50%;
	width: 40%;
	border-radius: 50%;
	transform: translateX(-50%);
}

.victor-container h3 {
	font-size: 2rem;
	line-height: 1.6;
	margin-bottom: 2rem;
}

.victor-container p {
	font-size: 1.2rem;
	line-height: 1.6;
}

.victor-container a {
	margin: 0;
	font-size: 1.5rem;
	text-transform: uppercase;
	color: var(--alert);
	margin-top: 2rem;
	cursor: pointer;
	border: 2px solid var(--alert);
	border-radius: 5px;
	padding: 0.3rem 1rem;
}

.victor-container .text-container {
	margin-top: 200px;
}

.victor-container p span {
	font-weight: 700;
	font-style: italic;
}

/* Footer */
.footer-container {
	width: 100%;
	min-height: 5vh;
	padding: 0.5rem 0;
	color: var(--main);
	background-color: var(--main);
	margin-top: 2rem;
}

p.footer {
	font-size: clamp(1.2rem, 2vw, 2rem);
	text-align: center;
	color: var(--light);
	line-height: 2em;
}
