/* Variables */
:root {
	--main: blue;
	--dark: black;
	--light: white;
	--alert: orange;
	--html: rgb(28, 28, 28);
}

/* General */
html {
	font-family: 'Poppins', sans-serif;
	font-size: 1rem; /* 16px */
	line-height: 1.6;
	margin: 0 auto;
	scroll-behavior: smooth;
	background-color: var(--html);
}

body {
	min-width: 320px;
	max-width: 1280px;
	min-height: 100svh;
	margin: 0 auto;
	background-color: var(--light);
}

a {
	display: inline-block;
	text-decoration: none;
	color: inherit;
	cursor: pointer;
	margin-left: 1em;
}

/* Header */
.header-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	min-height: 5svh;
	padding: 0.7rem 1rem;
	color: var(--light);
	background-color: var(--main);
}
.nav-container {
	display: flex;
}

.nav-container span {
	margin-left: 1em;
	color: var(--alert);
}

/* Main */
/* Main */
.main-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 85vh;
	padding: 0.5rem;
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border: 1px solid var(--dark);
}

.hero-container,
.content-container {
	margin: 2rem 0;
	padding: 1rem;
}

/* Team work */
.container-sandrine {
	/* code */
}
.container-tunde {
	/* code */
}
.container-daniel {
	/* code */
}

/* victor */
.container-victor {
	/* code */
}

.container-victor img {
	width: 100%;
	margin: 0;
}

.container-victor h2 {
	font-size: clamp(2em, 3.1vw, 3em);
	margin: 2rem auto;
	text-align: center;
}

.container-victor p {
	font-size: clamp(1.2em, 2vw, 1.8em);
	margin: 2rem auto;
	text-align: center;
	padding: 1em;
}
/* Footer */
.footer-container {
	width: 100%;
	min-height: 5vh;
	padding: 0.5rem 0;
	color: var(--main);
	background-color: var(--main);
}

p.footer {
	text-align: center;
	color: var(--light);
	line-height: 3em;
}
