/* Variables */
:root {
	--html: rgb(28, 28, 28);
	--main: blue;
	--dark: black;
	--light: white;
	--alert: orange;
	--html: rgb(28, 28, 28);
}

/* General */

* {
	box-sizing: border-box;
}

html {
	font-family: 'Poppins', sans-serif;
	font-size: 1rem; /* 16px */
	line-height: 1.6;
	margin: 0 auto;
	scroll-behavior: smooth;
	background-color: var(--html);
}

body {
	min-width: 320px;
	max-width: 1280px;
	min-height: 100svh;
	margin: 0 auto;
	background-color: var(--light);
}

a {
	display: inline-block;
	text-decoration: none;
	color: inherit;
	cursor: pointer;

	margin-left: 0.5em;
	padding: 0.2em 1em;
	border: 2px solid var(--light);
	border-radius: 0.5em;
}

a:hover {
	border: 2px solid var(--alert);
	box-shadow: 3px 3px 4px grey;
}

/* Header */
.header-container {
	position: fixed;
	width: 100%;
	max-width: 1280px;
	font-size: clamp(1.2rem, 2vw, 2rem);
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1.3rem;
	color: var(--light);
	background-color: var(--main);
	z-index: 100;
}

.nav-container {
	display: flex;
}

.nav-container span {
	margin-left: 1em;
	color: var(--alert);
}

#dark {
	cursor: pointer;
}

/* Main */
.main-container {
	width: 100%;
	display: flex;
	flex-direction: column;
	/* justify-content: center; */
	align-items: center;
	min-height: 85vh;
	padding: 0 2rem;
}

.text-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	line-height: 1.6;
	text-align: center;
	margin-bottom: 2rem;
	padding: 0 1rem;
}

.main-container h2 {
	margin-top: 6rem;
	margin-bottom: 2rem;
	font-weight: 700;
	font-size: 2rem;
	color: var(--main);
}

.container {
	width: 80%;
	min-height: 300px;
	margin: 1rem auto;
	border: 1px solid var(--dark);
}

/* Team Work */
.sandrine-container {
	background-color: aqua;
}
/* Daniel*/

.daniel-container {
	background-color: whitesmoke;
}

.daniel-container .questions-container {
	display: grid;
	grid-template-columns: (1fr, 1fr, 1fr);
	grid-template-rows: (1fr, 1fr, 1fr);
	gap: 0.5rem;
	padding: 1rem;
}

.daniel-container .title {
	/* background-color: lightblue; */

	grid-column-start: 1;
	grid-column-end: 3;

	grid-row-start: 1;
	grid-row-end: 2;

	height: 2rem;

	text-align: center;
	font-weight: 700;
	margin: 0.5em auto;
}

.daniel-container .quote-container {
	/* background-color: yellowgreen; */

	grid-column-start: 1;
	grid-column-end: 3;

	grid-row-start: 2;
	grid-row-end: 3;

	height: 5rem;

	text-align: center;
	padding: 0.5em 1em;
	font-size: 1.2rem;
	line-height: 1.6;
}

.daniel-container .answers-container {
	background-color: grey;

	grid-column-start: 1;
	grid-column-end: 2;

	grid-row-start: 3;
	grid-row-end: 4;

	height: 9rem;

	padding: 0.8em 1em;
}

.daniel-container .answers-container li,
.daniel-container .answers-container legend {
	/* margin: 0.5em 0; */
}
.daniel-container .button-container {
	/* background-color: violet; */

	position: relative;

	grid-column-start: 2;
	grid-column-end: 3;

	grid-row-start: 3;
	grid-row-end: 4;
}

.daniel-container .button-container button {
	position: absolute;
	font-size: 1rem;
	text-transform: uppercase;
	bottom: 0.5rem;
	right: 0.5rem;
	padding: 0.3em 1.5em;
	color: var(--light);
	background-color: var(--main);
	border-radius: 0.5em;
}

.tunde-container {
	background-color: whitesmoke;
	padding: 30px;
}

.tunde-container .hero-container {
	text-align: center;
	margin-bottom: 20px;
}

.tunde-container .content-container {
	text-align: center;
	margin-bottom: 20px;
}

.tunde-container h2 {
	font-size: 30px;
	margin-bottom: 10px;
}

.tunde-container h3 {
	font-size: 20px;
	margin-bottom: 15px;
}

/* .tunde-container li {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */

.tunde-container form {
	max-width: 700px;
	margin: 0 auto;
	background-color: #fff;
	padding: 30px;
	border-radius: 10px;
}

.tunde-container .quiz-question {
	margin-bottom: 20px;
	align-items: start;
}

.tunde-container ul {
	text-align: justify;
}

.tunde-container label {
	cursor: pointer;
}

.tunde-container button[type='next'] {
	background-color: #4caf50;
	color: #fff;
	border: none;
	padding: 10px 20px;
	border-radius: 5px;
	font-size: 18px;
	cursor: pointer;
	text-transform: uppercase;
}

.tunde-container button[type='next']:hover {
	background-color: #3e8e41;
}

/* victor */
.victor-container {
	background-color: whitesmoke;
}

.victor-container .questions-container {
	display: grid;
	grid-template-columns: (1fr, 1fr, 1fr);
	grid-template-rows: (1fr, 1fr, 1fr);
	gap: 0.5rem;
	padding: 1rem;
}

.victor-container .title {
	grid-column-start: 1;
	grid-column-end: 3;

	grid-row-start: 1;
	grid-row-end: 2;

	height: 2rem;

	font-size: 1.5rem;
	text-align: center;
	font-weight: 700;
	margin: 0.5em auto;
	color: var(--dark);
}

.victor-container .quote-container {
	/* background-color: yellowgreen; */

	grid-column-start: 1;
	grid-column-end: 3;

	grid-row-start: 2;
	grid-row-end: 3;

	height: 5rem;

	text-align: center;
	padding: 0.5em 1em;
	font-size: 1.2rem;
	line-height: 1.6;
	color: var(--dark);
}

.victor-container .answers-container {
	background-color: grey;

	grid-column-start: 1;
	grid-column-end: 2;

	grid-row-start: 3;
	grid-row-end: 4;

	height: 9rem;

	padding: 0.8em 1em;
}

.victor-container .answers-container li,
.victor-container .answers-container legend {
	margin: 0.5em 0;
}
.victor-container .button-container {
	/* background-color: violet; */

	position: relative;

	grid-column-start: 2;
	grid-column-end: 3;

	grid-row-start: 3;
	grid-row-end: 4;
}

.victor-container .button-container button {
	position: absolute;
	font-size: 1rem;
	text-transform: uppercase;
	bottom: 0.5rem;
	right: 0.5rem;
	padding: 0.3em 1.5em;
	color: var(--light);
	background-color: var(--main);
	border-radius: 0.5em;
}

/* Footer */
.footer-container {
	width: 100%;
	min-height: 5vh;
	padding: 0.5rem 0;
	color: var(--main);
	background-color: var(--main);
}

p.footer {
	font-size: clamp(1.2rem, 2vw, 2rem);
	text-align: center;
	color: var(--light);
	line-height: 2em;
}
